<table>
<tr><h1><%= @artist.name %> </h1></tr>

<tr>
<td><%= image_tag @artist.image_url %></td>
<td><h2>List of songs</h2>
<p><% @artist.songs.each do |song| %>
  <%= link_to song.name, artist_song_path(@artist, song) %> </p>
<% end %>
<p><%= link_to "[Add a new song]", new_artist_song_path(@artist,@song)%></p></td>
<br>
</tr>
</table>
<%= link_to "[Edit artist]", edit_artist_path(@artist.id) %>
<%= link_to "[Delete artist]", artist_path(@artist.id),
method: :delete, data: { confirm: "Are you sure you want to delete this artist?" } %>
<p><%= link_to "[Back to All Artists]", root_path %></p>
